html[data-theme=light] {
  --color-text: #232323;
  --color-background: #fff;
  --color-btn: #fe016c;
}

html[data-theme=dark] {
  --color-text: #fff;
  --color-background: #232323;
  --color-btn: #ffbd07;
}

html,
body {
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}